html {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-left: 2em;
    margin-right: 2em;
    max-width: 800px;
}

* {
    font-family: 'Chilanka';
}

p {
    margin-bottom: 1.3em;
}

a {
    color: darkgreen;
}

hr {
    border-top: 1px dashed darkgreen;
}

.chapter-nav {
    font-weight: lighter;
    font-size: 1.1em;
    text-align: center;
}

.alert {
    background-color: lemonchiffon;
}